---
title: Publications
permalink: /publications/
classes: wide
layout: archive
---


<!-- <h1 class="archive__title">Publications</h1> -->
<a href="https://scholar.google.com/citations?user=iZB7inEAAAAJ&hl=en"><i class="fas fa-graduation-cap"></i> Google Scholar</a>

<!-- {% assign publications = site.publications | sort: "year" | sort: "month" | reverse %} -->
{% assign pubyears = site.publications | group_by: "year" | sort: "name" | reverse %}
{% for pubyear in pubyears %}
  {% assign pubyearsmonths = pubyear.items | sort: "month" | reverse %}
  {% for pub in pubyearsmonths %}
    <div class="pubitem">
      <!-- <div class="pubteaser">
        <a href="{{pub.url}}">
          <img src="/images/{{ pub.slug }}_small.png" alt="{{pub.slug}} publication teaser"/>
        </a>
      </div> -->
      <div class="pubtitle">
        {{ pub.title }}
      </div>
      <div class="pubauthors">
        {{ pub.authors }}
      </div>
      {% if pub.publication %}
        <div class="pubinfo">
          {{pub.publication}}, {{ pub.year }}
          &ensp; <a href="{{pub.link}}"><i class="fas fa-external-link-alt"></i></a>
        </div>
        {% if pub.series %}
          <div class="pubinfo">
              {{ pub.series }}
          </div>
        {% endif %}
      {% endif %}
      <!-- <div class="pubinfo">
        {{ pub.year }}
      </div> -->
      {% if pub.award %}
          <div class="pubinfo">
            <i class="fas fa-trophy"></i>
            <!-- <i class="far fa-file-pdf"></i> -->
            {% if pub.awardlink %}
              <a href="{{pub.awardlink}}"> {{ pub.award }}</a>
            {% else %}
              {{ pub.award }}
            {% endif %}
          </div>
      {% endif %}
      <div class="publinks">
        <!-- <a href="/download/{{ pub.slug}}.pdf"><i class="far fa-file-pdf"></i> PDF</a>&nbsp;&nbsp; -->
        {% assign first = true %}
        {% if pub.preprint %}
          {% assign first = false %}


          {% if pub.preprint | downcase contains "arxiv" %}
            <a href="{{pub.preprint}}">arXiv</a>
          {% elsif pub.preprint | downcase contains "medrxiv" %}
            <a href="{{pub.preprint}}">medrXiv</a>
          {% else %}
            <a href="{{pub.preprint}}">preprint</a>
          {% endif %}

        {% endif %}

        {% if pub.pdf %}
          {% unless first %} - {% endunless %}
          {% assign first = false %}
          <a href="{{pub.pdf}}">PDF</a>
        {% endif %}
        
        {% if pub.experiments %}
          {% unless first %} - {% endunless %}
          {% assign first = false %}
          <a href="{{pub.experiments}}">experiments</a>
        {% endif %}

        {% if pub.software %}
          {% unless first %} - {% endunless %}
          {% assign first = false %}
          <a href="{{pub.software}}">software</a>
        {% endif %}

        {% if pub.projectpage %}
          {% unless first %} - {% endunless %}
          {% assign first = false %}
          <a href="{{pub.projectpage}}">project page</a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
{% endfor %}