---
layout: archive
collection: research
title: Research 
permalink: /research/
entries_layout: list
toc: true
feature_row:
  - title: "PMCBoost"
    image_path: /assets/images/PMC.jpg
    alt: "PMC illustration"
    excerpt: "A post-processing method that fairly calibrates a given classifier"
    url: https://github.com/cavalab/pmcboost
    btn_class: "btn--inverse"
  - title: "SRBench"
    image_path: /assets/images/srbench.png
    alt: "SRBench Pareto plot"
    excerpt: "A living benchmark resource for symbolic regression"
    url: https://cavalab.org/srbench
    btn_class: "btn--inverse"
  - title: "FEAT"
    image_path: /assets/images/feat.jpg
    alt: "Feature Engineering Automation Tool"
    excerpt: "Feature Engineering Automation Tool"
    url: https://cavalab.org/feat
    btn_class: "btn--inverse"
---

Our research focuses on developing machine learning methods and using them to explain the principles underlying complex, biomedical processes.
We use these methods to learn predictive models from electronic health records (EHRs) that are both *interpretable* to clinicians and *fair* to the population on which they are deployed. 
Our long-term goals are to positively impact human health by developing methods that are flexible enough to automate entire computational workflows underlying scientific discovery and medicine.

<h2 id="{{ label | slugify }}" class="archive__subtitle">Overviews</h2>
 <section class="taxonomy__section">
{% assign entries_layout = page.entries_layout | default: 'list' %}
{% for collection in site.collections %}
  {% if collection.label == "research" and collection.output == true %}
      {% capture label %}{{ collection.label }}{% endcapture %}
      {% if label != written_label %}
        {% capture written_label %}{{ label }}{% endcapture %}
      {% endif %}
      <div class="entries-{{ entries_layout }}">
        {% for post in collection.docs %}
          {% include archive-single.html type=entries_layout %}
        {% endfor %}
      </div>
  {% endif %}
{% endfor %}
<a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
</section>

<h2 id="{{ label | slugify }}" class="archive__subtitle">Project Pages</h2>

{% include feature_row type="left" %}
<!-- {% include gallery %} -->

<h2 id="{{ label | slugify }}" class="archive__subtitle">Posts by Topic</h2>
 <section class="taxonomy__section">

{% for tag in site.tags %}
  {% assign t = tag | first %}
  {% assign posts = tag | last %}

    <h3 id="{{ t | slugify }}" class="archive__subtitle">{{ t }}</h3>
      <div class="entries-{{ entries_layout }}">
{% for post in posts %}
  {% if post.tags contains t %}
        {% include archive-single.html type="left" %}
  {% endif %}
{% endfor %}
      </div>

{% endfor %}
<a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
</section>
