{% assign searchid = "/publications/" | append: include.pubid %}
{% assign pub = site.data.publications.references | where: "id", include.pubid | first %}
{% assign year = pub.issued.first.year | date: "%Y" -%}
{% assign authors = '' %}
{% for author in pub.author %}
    {% if forloop.index < pub.author.size - 1 %}
        {% assign authors = authors | append:  {{ author.given }} {{ author.family}}, %}
    {% else %}
        {% assign authors = authors | append:  {{ author.given }} {{ author.family}} %}
    {% endif %}
{% endfor %}
{{include.prefix}} {{- authors -}} ({{- year -}}). <a href="/publications/#{{include.pubid}}">{{ pub.title }}.</a> {{ pub.container-title }} 