{% assign pub = site.data.publications.references 
    | where: "id", include.pubid | first %}
{% assign prefix = include.prefix | slice: 1, -0 | append: "fn:" %}
{% assign year = pub.issued.first.year %}
{% capture authors %}{% include get_pub_authors.html pubid=include.pubid %}{% endcapture %}
{% if pub.container-title %}
    {% assign venue = pub.container-title %}
{% elsif pub.event-title %}
    {% assign venue = pub.event-title %}
{% elsif pub.type == "thesis" %}
    {% assign venue = "Thesis" %}
{% else %}
    {% assign venue = "Preprint" %}
{% endif %}
{{ include.prefix }} {{ authors }} ({{ year }}). <a href="/papers/#{{include.pubid}}">{{ pub.title }}.</a> {{ venue }} 