{% if include.pubid %}
    {% assign searchid = "/publications/" | append: include.pubid %}
    {% assign pub = site.publications | where: "id", searchid | first %}
{% endif %}
{% if include.pubtitle %}
    {% assign pub = site.publications | where: "title", include.pubtitle | first %}
{% endif %}

{% assign pubid = pub.id | split: '/' | slice: -1 %}
<div class="pubitem">
    <div class="pubtitle" id="{{ pubid }}">
    {{ pub.title }}
    </div>
    <div class="pubauthors">
    {% assign year = pub.date | date: "%Y" %}
    {{ pub.authors }} ({{ year }})
    </div>

    {% if pub.publication %}
        <div class="pubjournal">
            {{pub.publication}}
        </div>
        {% if pub.series %}
            <div class="pubinfo">
                {{ pub.series }}
            </div>
        {% endif %}
    {% else %}
        <div class="pubinfo">
            Preprint
        </div>
    {% endif %}

    <div class="publinks">
        {% assign first = true %}


        {% if pub.publication %}
            {% assign first = false %}
            {% assign linkname = pub.link | split: "/" | slice: 2 %}
            <a href="{{pub.link}}"><i class="fas fa-external-link-alt"></i> {{ linkname }} </a>
        {% endif %}

        {% if pub.preprint %}
            {% unless first %}&nbsp;|&nbsp;{% endunless %} {% assign first = false %}
            {% assign preprint = pub.preprint | downcase %}
            {% if preprint contains "arxiv" %}
            <a href="{{pub.preprint}}">arXiv</a>
            {% elsif preprint contains "medrxiv" %}
            <a href="{{pub.preprint}}">medrxiv</a>
            {% else %}
            <a href="{{pub.preprint}}">preprint</a>
            {% endif %}

        {% endif %}

        {% if pub.pdf %}
            {% unless first %}&nbsp;|&nbsp;{% endunless %} {% assign first = false %}
            <a href="{{pub.pdf}}">pdf</a>
        {% endif %}
        
        {% if pub.experiments %}
            <!-- {% unless first %} - {% endunless %} {% assign first = false %} -->
            {% unless first %}&nbsp;|&nbsp;{% endunless %} {% assign first = false %}
            <a href="{{pub.experiments}}">experiments</a>
        {% endif %}

        {% if pub.software %}
            <!-- {% unless first %} - {% endunless %} {% assign first = false %} -->
            {% unless first %}&nbsp;|&nbsp;{% endunless %} {% assign first = false %}
            <a href="{{pub.software}}">software</a>
        {% endif %}

        {% if pub.projectpage %}
            <!-- {% unless first %} - {% endunless %} {% assign first = false %} -->
            {% unless first %}&nbsp;|&nbsp;{% endunless %} {% assign first = false %}
            <a href="{{pub.projectpage}}">project page</a>
        {% endif %}
        {% if pub.award %}
            {% unless first %}&nbsp;|&nbsp;{% endunless %} {% assign first = false %}
            <i class="fas fa-trophy"></i>
            {{ pub.award }}
            {% if pub.awardlink %}
                &nbsp;<a href="{{pub.link}}"><i class="fas fa-external-link-alt"></i> </a>
            {% endif %}
        {% endif %}
    </div>
</div>