---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

// $link-color: #2a7ae2;
// $link-color: #1756a9;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// custom CSS
@import "minimal-mistakes";

// html { font-size: $type-size-1; }
// html {
//   font-size: $type-size-5; // change to whatever

//   // @include breakpoint($medium) {
//   //   font-size: 16px; // change to whatever
//   // }

//   // @include breakpoint($large) {
//   //   font-size: 18px; // change to whatever
//   // }

//   // @include breakpoint($x-large) {
//   //   font-size: 20px; // change to whatever
//   // }
// } 

html {
  /* apply a natural box layout model to all elements */
  box-sizing: border-box;
  background-color: $background-color;
  font-size: 12px; // originally 16px

  @include breakpoint($medium) {
    // font-size: 18px;
    font-size: 13px;
  }

  @include breakpoint($large) {
    // font-size: 20px;
    font-size: 16px;
  }

  @include breakpoint($x-large) {
    // font-size: 22px;
    font-size: 18px;
  }

  // -webkit-text-size-adjust: 100%;
  // -ms-text-size-adjust: 100%;

}

.footnotes {
  color: mix(#fff, $gray, 25%);

  ol,
  li,
  p {
    margin-bottom: 0;
    font-size: $type-size-5;
  }
}